body {
    font-family: Arial, sans-serif;
    background-color: lavender;
    margin: 0;
}

header {
    background-color: #46E090;
    color: purple;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: purple;
    text-align: center;
    padding: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    background-color: #46E090;
    padding: 8px 15px;
    margin: 5px;
    border-radius: 6px;
    font-weight: bold;
}

nav a:hover {
    background-color: white;
    color: purple;
}

main {
    padding: 20px;
}

h2 {
    color: purple;
}

.caja {
    background-color: #46E090;
    padding: 15px;
    border-radius: 8px;
    margin-top: 20px;
}

.imagen-centro {
    display: block;
    margin: 20px auto;
    width: 500px;
    max-width: 90%;
    height: auto;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

td, th {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

th {
    background-color: purple;
    color: white;
}

footer {
    text-align: center;
    background-color: purple;
    color: white;
    padding: 15px;
    margin-top: 30px;
}
body {
    font-family: Arial, sans-serif;
    background-color: lavender;
    margin: 0;
}

header {
    background-color: #46E090;
    color: purple;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: purple;
    text-align: center;
    padding: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    background-color: #46E090;
    padding: 8px 15px;
    margin: 5px;
    border-radius: 6px;
    font-weight: bold;
}

nav a:hover {
    background-color: white;
    color: purple;
}

main {
    padding: 20px;
}

h2 {
    color: purple;
}

.caja {
    background-color: #46E090;
    padding: 15px;
    border-radius: 8px;
    margin-top: 20px;
}

.imagen-centro {
    display: block;
    margin: 20px auto;
    width: 500px;
    max-width: 90%;
    height: auto;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

td, th {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

th {
    background-color: purple;
    color: white;
}

footer {
    text-align: center;
    background-color: purple;
    color: white;
    padding: 15px;
    margin-top: 30px;
}
